/* HEADER関連 */
.drawer-nav {
  background-color: #1a73e8;
}

.drawer-nav>ul>li {
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left:20px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 24px;
  font: bold;
}

.drawer-nav>ul>li>a {
  text-decoration: none;
  color: white;
}


header{
  text-align: center;
}

.header-title{
  display: inline-block;
  margin: 0px;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 36px;
  font: bold;
}

#image-cart {
margin-top:2px;
width:16px;
height:16px;
object-fit: contain;

}

.header-cart{
border:none ;
background-color: white;
width:30px;
height:30px;
}

.header-search{
border:none ;
background-color: white;
width:30px;
height:30px;
margin-right: 10px;
}

#cart{
  width: 16px;
  height: 16px;
}

#search{
  width: 16px;
  height: 16px;
}


.title{
 margin-left: 60px;
}

.icon{
  float: right;
  margin-right: 30px;
}

.header-area{
  text-align: center;
}

/* SLICK関連 */

.slider {
  width: 100%;
  margin: 10px auto;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-prev:before,
.slick-next:before {
color: rgb(18, 99, 131);
}

.slick-slide {
transition: all ease-in-out .3s;
opacity: .2;
}

.slick-active {
opacity: .5;
}

.slick-current {
opacity: 1;
}

/* トップ画像 */
.c_topimg {
background: url('../img/top_1.jpg');
}
/* 経歴画像 */
.c_hisimg {
height: 480px;
width: 980px;
background: url('../img/top_2.JPG');
}
/* 成果物画像 */
.c_delimg {
height: 480px;
width: 980px;
background: url('../img/top_3.JPG');
}


.vertical-center-4{
  margin-top: 20px;
}

#topic-1{
  width:100%;
}

.relative {
    margin-top: 80px;
    position: relative;
}
#topic-char-1 {
    text-align: center;
    width: 150px;
    height: 200px;
    position: absolute;
    left: 70%;
    bottom: 10%;
    color: black;
    background:white;
    opacity: 0.9;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    font: bold;

}
#topic-char-2 {
    text-align: center;
    width: 150px;
    height: 200px;
    position: absolute;
    left: 10%;
    bottom: 60%;
    color: black;
    background:white;
    opacity: 0.9;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    font: bold;

}

.topic-1-icon{
  width: 50px;
  height: 50px;
}

a {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 16px;
    font: bold;
  }

a:hover { text-decoration: none;}
a:link { color:black; }
a:visited { color:black; }
a:hover { color:black; }
a:active { color:black; }
